$zinc-50: oklch(98.5% 0 0);
$zinc-100: oklch(96.7% 0.001 286.375);
$zinc-200: oklch(92% 0.004 286.32);
$zinc-300: oklch(87.1% 0.006 286.286);
$zinc-400: oklch(70.5% 0.015 286.067);
$zinc-500: oklch(55.2% 0.016 285.938);
$zinc-600: oklch(35% 0.017 285.786);
$zinc-700: oklch(28% 0.013 285.805);
$zinc-800: oklch(22% 0.006 286.033);
$zinc-900: oklch(17% 0.006 285.885);
$zinc-925: oklch(15% 0.005 285.855);
$zinc-950: oklch(14.1% 0.005 285.823);
